<app-profile-search></app-profile-search>
<br><hr><br>
<div class="row">
  <div class="col-md-4">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" *ngIf='data'  src="{{data.avatar_url}}" alt="Card image cap">
          <div class="card-body login">
            <h4 *ngIf='data' class="card-text"> {{data.login}}</h4>
          </div>
        </div>
  </div>
  <div class="col-md-8">
      <span class="col-md-8">
          <span>Repositories<span class="badge badge-pill badge-secondary">{{data.public_repos}}</span></span>
       </span>
     <span class="col-md-8">
    <span>Public gists<span class="badge badge-pill badge-secondary">{{data.public_gists}}</span></span>
   </span>
 <span class="col-md-8">
                                          <span>followers<span class="badge badge-pill badge-secondary">{{data.followers}}</span></span>
                                                      </span>
                                                      <span class="col-md-8">
                                               <span>following<span class="badge badge-pill badge-secondary">{{data.following}}</span></span>
                                          </span>
 <hr>
                                          <br>
 <ul class="list-group">
  <li class="list-group-item"><strong>name </strong>{{data.login}}</li>
  <li class="list-group-item"><strong>location </strong>{{data.location}}</li>
  <li class="list-group-item"><strong>email </strong> {{data.email}}</li>
  <li class="list-group-item"><strong>blog </strong> {{data.blog}}</li>
  <li class="list-group-item"><strong>created at </strong>{{data.created_at}}</li>
 </ul>

  </div>
        
   </div>
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
        <ul *ngFor='let repo of repos'>
            <li> <a href="{{repo.html_url}}">{{repo.name}} 
              </a>
            </li>
            </ul>
     </div>
     
        <div class="col-md-2"></div>
   </div>
      
  



<router-outlet></router-outlet>
