img{
   width: 100%;
    height: 15rem;
    width: 15em;
    border-radius: 100%;
}
.card{
width: 40%;
padding-bottom: 2em;
padding-right: 2em;
margin-left: 2rem;
text-align: centre;

}
.login{
   margin-left: 3em; 
}
